:80 {
    handle /api/* {
        reverse_proxy be-core:9000
    }
    handle /ws {
        reverse_proxy be-core:9000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
